/* @media (max-width: 688px) and (min-width: 360px) {
  .about-image {
    display: block;
    width: 400px;
  }
  .about-description {
    display: block;
    width: 400px;
  }
}
 */

/* .about {
  margin-bottom: 10px;
  display: flex;
  background-color: rgb(249, 249, 249);
} */

@media (min-width: 689px) and (max-width: 1400px) {
  .about {
    display: flex;
  }
}

@media (min-width: 320px) and (max-width: 688px) {
  .about-image img {
    width: 100%;
  }
}
