@media (min-width: 689px) and (max-width: 1400px) {
  .user-form {
    margin-left: 300px;
    margin-right: 300px;
    padding: 40px;
  }
}

@media (min-width: 320px) and (max-width: 688px) {
  form {
    padding: 20px;
  }
  .google-btn {
    margin-bottom: 40px;
  }
}

.google {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.register {
  display: flex;
  justify-content: center;
}
